@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scan {
  0% {
    top: 5%;
    opacity: 0.2;
  }
  50% {
    top: 95%;
    opacity: 1;
  }
  100% {
    top: 5%;
    opacity: 0.2;
  }
}

/* Hide scrollbar but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}